canvas{

position: fixed;
top: 0;
left: 0;
z-index: 1;
width: 100%!important;
height: 100%!important;

}

body { 
    
margin: 0;

}

.section-3 img{

opacity: 0;

}


.pointer__wrapper {

position: absolute;
top: calc(50% - 394px);
left: calc(50% - 375px);
width: 749px;
height: 788px;
object-fit: cover;

}