.rect-1-icon {
  position: absolute;
  top: calc(50% - 394px);
  left: calc(50% - 375px);
  width: 711.93px;
  height: 749px;
  object-fit: cover;
}

.a-creative-journey {
  position: absolute;
  top: 95px;
  left: 93px;
  font-size: 30px;
  text-transform: capitalize;
}

.s {
  font-weight: 200;
}

.saad-raza {
  position: absolute;
  top: 134px;
  left: 79px;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  z-index: 2;
}

.developer {
  color: #9e0012;
}

.interactive-developer {
  position: absolute;
  top: 254px;
  left: 79px;
  letter-spacing: -2px;
  text-transform: capitalize;
  z-index: 2;
  font-size: 100px;

}

.intro-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 449px;
  overflow: hidden;
  font-size: 124px;
}

.dev-features {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 115px);
  text-transform: uppercase;
}

.d-wrapper {
  position: absolute;
  bottom: 402px;
  left: 0;
  width: 384px;
  height: 110px;
  overflow: hidden;
  font-family: "Helvetica Now Display";
  z-index: 2;

}

.dev-features1 {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 199px);
  text-transform: uppercase;
}

.motion-wrapper {
  position: absolute;
  bottom: 274px;
  left: 0;
  width: 554px;
  height: 128px;
  overflow: hidden;
  font-family: "Helvetica Now Display";
  z-index: 2;

}

.dev-features2 {
  position: absolute;
  top: calc(50% - 59.5px);
  left: calc(50% - 191px);
  text-transform: uppercase;
}

.visual-wrapper {
  position: absolute;
  bottom: 147px;
  left: 0;
  width: 554px;
  height: 127px;
  overflow: hidden;
  font-family: "Helvetica Now Display";
  z-index: 2;

}

.design-features {
  position: absolute;
  top: calc(50% - 59.5px);
  left: calc(50% - 173px);
  letter-spacing: 1px;
  text-transform: uppercase;
  
}

.design-wrapper {
  position: absolute;
  right: 0;
  bottom: 385px;
  width: 554px;
  height: 127px;
  overflow: hidden;
  z-index: 2;

}

.ui-ux-features {
  position: absolute;
  top: calc(50% - 59.5px);
  left: calc(50% - 168px);
  letter-spacing:1px;
  text-transform: uppercase;
}

.ui-ux-wrapper {
  position: absolute;
  right: 0;
  bottom: 258px;
  width: 554px;
  height: 127px;
  overflow: hidden;
  z-index: 2;

}

.section-2 {
  position: relative;
  background-color: #0c0c0c;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 100px;
  color: #fff;
  font-family: "Helvetica Now Display";
}
