.stories {
    position: absolute;
    top: 0;
    left: calc(40% - 439px);
    line-height: 250px;
    text-transform: capitalize;
    font-size: 290px;
  

  }
  .stories-wrapper {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 1250px;
    height: 267px;
    overflow: hidden;
    color: #f1f1f1;
    // width: 1300px;

    
  }
  .project-image-1-icon {
    position: absolute;
    top: calc(50% - 319px);
    left: calc(50% - 506px);
    width: 1012px;
    height: 638px;
    object-fit: cover;
  }
  .atrk-fashion-2023,
  .project-session-1 {
    position: absolute;
    top: 673px;
    left: 802px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .project-session-1 {
    left: 33px;
  }
  .project-1 {
    position: absolute;
    top: 397px;
    left: 0;
    width: 1078px;
    height: 702px;
    overflow: hidden;
  }
  .avr-mannequin-maker,
  .project-session-3-container {
    position: absolute;
    top: 673px;
    left: 683px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .project-session-3-container {
    left: 31px;
  }
  .project-2 {
    position: absolute;
    top: 1161px;
    right: 0;
    width: 1078px;
    height: 702px;
    overflow: hidden;
  }
  .zr-photography-competetion {
    position: absolute;
    top: 673px;
    left: 555px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 506px;
  }
  .project-3 {
    position: absolute;
    top: 1925px;
    right: 312px;
    width: 1078px;
    height: 702px;
    overflow: hidden;
  }
  .prv-perfume-collection {
    position: absolute;
    top: 673px;
    left: 646px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .blank-line {
    margin: 0;
  }
  .project-session-4-container {
    position: absolute;
    top: 673px;
    left: 31px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 247px;
    height: 22px;
  }
  .project-31 {
    position: absolute;
    top: 2689px;
    right: 0;
    width: 1078px;
    height: 702px;
    overflow: hidden;
  }
  .section-3 {
    position: relative;
    background-color: #0c0c0c;
    width: 100%;
    height: 3800px;
    text-align: center;
    font-size: 18px;
    color: #d4d4d4;
    font-family: "Helvetica Now Display";
  }
  