extends ../base.pug

block content
  .section-1
    .we-create-wrapper
      img.we-create-1(alt='' src='we-create-1@2x.png')
    .vector-wrapper
      .vector
    img.hamburger-icon.fade(alt='' src='hamburger.svg')
    .future-wrapper
      .future 
       span.block
        span f
       span.block
        span u
       span.block
        span t
       span.block
        span u
       span.block
        span r 
       span.block
        span e 
    .next-wrapper
      .next 
       span.block
        span n
       span.block
        span e
       span.block
        span x
       span.block
        span t
    .intro
      .we-creative-innovative-container
        p.we-creative-innovative we creative Innovative
        p.we-creative-innovative designs &amp; ideas for your needs
    .echelon-vi.fade
      span echelon 
      span.vi vi
    .social-icon-wrapper
      .ins ins
      .tw tw
      .fb fb
    .show-more-wrapper
      .circle__rotate
        svg(width='600' height='600' viewbox='0 0 300 300' fill='none' xmlns='http://www.w3.org/2000/svg')
          g(class="circle")
            circle(cx="110" cy="90" r="80") 
      b.show.fade show    
      b.more.fade more
      img.arrow-icon.fade(alt='' src='arrow.svg')
      .akertra 
       span.block
        span a
       span.block
        span k
       span.block
        span e
       span.block
        span t
       span.block
        span r
       span.block
        span a
      .selected 
       span.block
        span s
       span.block
        span e
       span.block
        span l
       span.block
        span e
       span.block
        span c
       span.block
        span t
       span.block
        span e
       span.block
        span d


  .section-2
    .pointer__wrapper
     img.rect-1-icon(alt='' src='e.png')
    .intro-wrapper
      .a-creative-journey.intersect a creative journey since 2019
      .saad-raza
        span.s S
        span aad 
        span.s R
        span aza 
      .interactive-developer
        span interactive 
        span.developer developer
    .d-wrapper
      .dev-features
       span.block__reveal
        span.s 3 
       span.block__reveal
        span d 
    .motion-wrapper
      .dev-features1
       span.block__reveal
        span.s m
       span.block__reveal
        span o
       span.block__reveal
        span t
       span.block__reveal
        span i
       span.block__reveal
        span o
       span.block__reveal
        span n
    .visual-wrapper
      .dev-features2
       span.block__reveal
        span.s v
       span.block__reveal
        span i
       span.block__reveal
        span s
       span.block__reveal
        span u
       span.block__reveal
        span a
       span.block__reveal
        span l
    .design-wrapper
      .design-features
       span.block__reveal
        span.s d
       span.block__reveal
        span e
       span.block__reveal
        span s
       span.block__reveal
        span i
       span.block__reveal
        span g
       span.block__reveal
        span n
    .ui-ux-wrapper
      .ui-ux-features
        span.block__reveal
         span.s u  
        span.block__reveal
         span i
        span.block__reveal
         span.s u
        span.block__reveal
         span x      
  .section-3
    .stories-wrapper
      .stories
       span.block__reveal
        span s
       span.block__reveal
        span t
       span.block__reveal
        span o
       span.block__reveal
        span r
       span.block__reveal
        span i
       span.block__reveal
        span e
       span.block__reveal
        span s
    .project-1
      img.project-image-1-icon(alt='' src='project--image--1@2x.png')
      .atrk-fashion-2023.intersect atrk Fashion 2023
      .project-session-1.intersect project session 1
    .project-2
      img.project-image-1-icon(alt='' src='project--image--2@2x.png')
      .avr-mannequin-maker.intersect avr mannequin maker 2023
      .project-session-3-container
        p.blank-line.intersect project session 2
    .project-3
      img.project-image-1-icon(alt='' src='project--image--3@2x.png')
      .zr-photography-competetion.intersect
        | zr photography competetion 2023
      .project-session-4-container
        p.blank-line.intersect project session 3
    .project-31
      img.project-image-1-icon(alt='' src='project--image--31@2x.png')
      .prv-perfume-collection.intersect prv perfume collection 2023
      .project-session-4-container
        p.blank-line.intersect project session 4
        p.blank-line &nbsp; 
  .section-4
    .copyright-code-by-container
      span.intersect &#169; code by 
      span.saad-raza-khan.intersect saad raza khan
    .interactivedev96gmailcom.intersect interactivedev96@gmail.com
    .div.intersect +923121158542
    .your-ideas-wrapper
      .your-ideas
       .block__reveal
         span y
       .block__reveal
         span o
       .block__reveal
         span u
       .block__reveal
         span r  &nbsp;       
       .block__reveal
         span i 
       .block__reveal
         span d
       .block__reveal
         span e
       .block__reveal
         span a 
       .block__reveal
         span s 
    .lets-talk-about-wrapper
      .lets-talk-about-container
        span.l l
        span ets 
        span.l t
        span alk 
        span.l a
        span bout
    .get-in-touch
     .get-in-touch-container
      span.l g
      span et in 
      span.l t
      span ouch




